In [1]:
# recorded by hao (2018/03/13)
# rock3.hao@gmail.com
# qinlab.BNU

# training of python basic operation 01

In [2]:
# Variables 
# To assign the value 365 to the variable days, we enter the variable name, add an equals sign (=)

In [3]:
days_1 = 365
days_2 = 366

In [4]:
# print 
print(days_1)
print(366)

365
366

In [5]:
# Data Types
# When we assign a value an integer value to a variable, we say that the variable is an instance of the integer class
# The two most common numerical types in Python are integer and float
# The most common non-numerical type is a string
str_test = "China"
int_test = 123
float_test = 122.5

print(str_test)
print(int_test)
print(float_test)

China
123
122.5

In [6]:
print(type(str_test))
print(type(int_test))
print(type(float_test))

<class 'str'>
<class 'int'>
<class 'float'>

In [7]:
str_eight = str(8)  
#str_eight + 10
print (type(str_eight))

str_eight = "8"
int_eight = int(str_eight)
int_eight + 10
print (type(int_eight))

<class 'str'>
<class 'int'>

In [8]:
# Comments
"""
Addition: +
Subtraction: -
Multiplication: *
Division: /
Exponent: **
"""

'\nAddition: +\nSubtraction: -\nMultiplication: *\nDivision: /\nExponent: **\n'

In [9]:
china=10
united_states=100
china_plus_10 = china + 10
us_times_100 = united_states * 100
print(china_plus_10)
print(us_times_100)
print (china**2)

20
10000
100

In [10]:
# List
months = []
print (type(months))
print (months)
print('-----------------------')

months.append("January")
months.append("February")
print (type(months))
print (months)

<class 'list'>
[]
-----------------------
<class 'list'>
['January', 'February']

In [11]:
months = []
months.append(1)
months.append("January")
months.append(2)
months.append("February")
print (months)

[1, 'January', 2, 'February']

In [12]:
temps = ["China", 122.5, "India", 124.0, "United States", 134.1]
print(temps)

['China', 122.5, 'India', 124.0, 'United States', 134.1]

In [13]:
countries = []
temperatures = []

countries.append("China")
countries.append("India")
countries.append("United States")
temperatures.append(30.5)
temperatures.append(25.0)
temperatures.append(15.1)
print (countries)
print (temperatures)


china = countries[0]
china_temperature = temperatures[1]
print (china)
print (china_temperature)

['China', 'India', 'United States']
[30.5, 25.0, 15.1]
China
25.0

In [14]:
int_months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
length = len(int_months) # Contains the integer value 12.
print (length)

12

In [15]:
int_months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
index = len(int_months) - 1
last_value = int_months[index] # Contains the value at index 11. begin at 0

print (last_value)
print (int_months[-2])

12
11

In [16]:
#Slicing 
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"]
# Values at index 2, 3, but not 4.
two_four = months[2:4]
print (two_four)

['Mar', 'Apr']

In [17]:
three_six = months[3:]
print (three_six)

['Apr', 'May', 'Jun', 'Jul']