In [6]:
# recorded by hao (2018/03/13)
# rock3.hao@gmail.com
# qinlab.BNU

# training of python basic operation 03

In [7]:
fl_01 = open('./data/data_dq_unisex_names.csv', 'r')
names = fl_01.read()
# print(names)

names_list = names.split('\n')
first_five = names_list[0:5]
print (first_five)

['Casey,176544.3281', 'Riley,154860.6652', 'Jessie,136381.8307', 'Jackie,132928.7887', 'Avery,121797.4195']

In [8]:
# Convert The List Of Strings To A List Of Lists
fl_02 = open('./data/data_dq_unisex_names.csv', 'r')
names = fl_02.read()
names_list = names.split('\n')

nested_list = []
for line in names_list:
    comma_list = line.split(',')
    nested_list.append(comma_list)
print(nested_list[0:5])

[['Casey', '176544.3281'], ['Riley', '154860.6652'], ['Jessie', '136381.8307'], ['Jackie', '132928.7887'], ['Avery', '121797.4195']]

In [9]:
nested_list = [['Casey', '176544.3281'], ['Riley', '154860.6652'], ['Jessie', '136381.8307']]
numerical_list = []

for line in nested_list:
    name = line[0]
    count = float(line[1])
    
    new_list = [name, count]
    numerical_list.append(new_list)
    
print(numerical_list[0:3])

[['Casey', 176544.3281], ['Riley', 154860.6652], ['Jessie', 136381.8307]]